.app-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Center the form vertically */
    width: 100vw;  /* Center the form horizontally */
    font-family: Helvetica, sans-serif;
}

.app-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    border: 1px solid black;
    padding: 5vh 5vw; /* Slightly bigger by vh and vw */
    transform: scale(1.1); /* Scale up the form slightly */
    transform-origin: center;
}   

.app-form input[type="text"] {
    width: 20vw; /* Double the width of the input text box */
    padding: 1vh 2vw; /* Increase padding for better spacing */
    font-size: 2vh; /* Adjust font size for better readability */
}   

.form-buttons label {
    font-size: 1.2rem; /* Make radio buttons slightly bigger */
    margin: 1vh 0.3vw; /* Add some vertical margin */
}



.form-button {
    font-size: 3vh; /* Make button text larger */
    padding: 2vh 4vw; /* Make the button larger */
    background-color: green; /* Make the button green */
    color: white; /* Make the text white */
    border: none; /* Remove default border */
    border-radius: 1vh; /* Make the edges rounded */
    transition: background-color 0.3s ease; /* Ease transition on click */
}

.form-button:hover {
    background-color: darkgreen; /* Darken the button color on hover */
}

.form-button:active {
    transform: scale(0.98); /* Slightly shrink the button on click */
}
