

.logout-button{
    font-size: 2.5vh; /* Make button text larger */
    padding: 1.5vh 3vw; /* Make the button larger */
    background-color: #1db954; /* Make the button green */
    color: white; /* Make the text white */
    border: none; /* Remove default border */
    border-radius: 1vh; /* Make the edges rounded */
    transition: background-color 0.3s ease; /* Ease transition on click */
    margin: 1vh;
}

body{
    background-color: #212121;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
}


/* Flexbox layout for centering */
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

/* Logout button in top right */
.logout {
    position: absolute;
    top: 2vw;
    right: 2vh;
}

.app-body {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    gap: 5vh; /* Space between description, form, and message */
}

.description {
    text-align: center;
    font-size: 1.7rem;
    padding: 0 2vw;
    margin-bottom: 5vh;
    margin-top: 5vh;
    
}

.description p {
    color: white;
    
}

.app-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    border: 1px solid rgb(255, 255, 255);
    padding: 5vh 5vw;
    transform: scale(1.1);
    transform-origin: center;
    background-color: #212121;
}

.app-form input[type="text"] {
    width: 20vw;
    padding: 1.5vh 2vw;
    font-size: 2vh;
    background-color: #212121;
    border: 1px solid white;
    color: white;
    
}



.form-buttons label {
    font-size: 1.2rem;
    margin: 1vh 0.5vw;
    color: white;
}

.form-button {
    font-size: 3vh;
    padding: 2vh 4vw;
    background-color: #1db954;
    color: white;
    border: none;
    border-radius: 1vh;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: darkgreen;
}

.logout-button:hover {
    background-color: darkgreen;
}

.form-button:active {
    transform: scale(0.98);
}

/* Position success/error message */
.message {
    margin-top: 10px;
    text-align: center;
    transition: opacity 2s ease;
    max-height: 10vh;
    min-height: 4vh;
}

.message.hidden {
    opacity: 0;

}

.message.visible {
    opacity: 1;
    visibility: visible;
}

.success-message {
    color: #1db954;
}

.error-message {
    color: red;
}
